.failure-popup {
  padding-bottom: 34px;
  padding-top: 42px;
  padding-left: 30px;
  padding-right: 30px;
}

.failure-popup__title {
  .reset();
  .middle-font();
}

.failure-popup__text {
  .reset();
  .font();
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .failure-popup {
    display: none;
  }
}
