.first {
  background-color: @blue;
}

.first__block {
  padding-top: 79px;
  padding-bottom: 43px;
  background-image: url("../../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 766px 37px;
}

.first__title {
  .reset();
  .middle-font();
  color: @white;
  margin-bottom: 15px;
}

.first__number {
  display: block;
  .font();
  color: @white;
  margin-bottom: 19px;
}

.first__text {
  .font();
  .reset();
  color: @white;
}
