.interested {
  padding-top: 29px;
  padding-bottom: 49px;
  padding-left: 20px;
  padding-right: 20px;
}

.interested__title {
  .reset();
  .middle-font();
  font-size: 21px;
  margin-bottom: 20px;
}

.interested__text {
  .reset();
  .font();
  line-height: 24px;
  margin-bottom: 36px;
}

.interested__button {
  display: block;
  width: 280px;
  .middle-font();
  font-size: 21px;
  padding-top: 15px;
  padding-bottom: 16px;
  background-color: @blue;
  color: @white;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .interested {
    padding-top: 56px;
    padding-bottom: 58px;
    padding-left: 0;
    padding-right: 0;
  }

  .interested__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .interested__text {
    display: block;
    width: 437px;
    margin: 0 auto;
    white-space: pre-wrap;
    margin-bottom: 42px;
  }

  .interested__button {
    width: 458px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .interested {
    padding-bottom: 66px;
  }

  .interested__text {
    margin-bottom: 47px;
  }
}
