.intro {
  min-height: 158px;
  background:
    url("../../img/text-sedona.svg") no-repeat 50% 45%,
    url("../../img/bg-intro-triangle-mobile.svg") no-repeat 50% 100%,
    url("../../img/bg-back-mobile@1x.jpg") no-repeat 50% 100%;
  background-size: 229px 39px, 1200px 57px, 768px 389px;
  background-color: @blue;
}
