.main-nav {
  width: 320px;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
  fill: #ffffff;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: #cde1ed;
  }

  &:active {
    fill: #a7cae0;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 768px;
    position: static;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1200px;
  }
}
