.menu__wrapper {
  width: 320px;
  min-height: 115px;
  background-color: @white;
}

.menu__block {
  width: 280px;
  min-height: 66px;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .menu__wrapper {
    width: 648px;
    min-height: 40px;
  }

  .menu__block {
    width: 648px;
    min-height: 93px;
    background-color: rgba(102, 102, 102, 0.6);
  }
}

@media (min-width: @desktop-width) {
  .menu__wrapper {
    width: 800px;
    min-height: 85px;
  }

  .menu__block {
    width: 800px;
    min-height: 93px;
    background-color: rgba(102, 102, 102, 0.6);
  }
}
