.others {
  background-color: @gray;
  padding-right: 34px;
  padding-left: 34px;
}

.others__list {
  list-style: none;
  .reset();
}

.others__item {
  padding-top: 31px;
  padding-bottom: 25px;

  &--border {
    .border-top(@gray-border);
    .border-bottom(@gray-border);
  }
}

.others__title {
  .reset();
  .middle-font();
  margin-bottom: 8px;
}

.others__number {
  display: block;
  .font();
  margin-bottom: 15px;
}

.others__text {
  .reset();
  .font();
}

@media (min-width: @tablet-width) {
  .others {
    padding-right: 0;
    padding-left: 0;
  }

  .others__list {
    display: flex;
  }

  .others__item {
    width: 256px;
    padding-top: 45px;
    padding-bottom: 45px;

    &--border {
      border: none;
    }

    &:nth-child(2) .others__text {
      width: 133px;
      margin: 0 auto;
    }
  }

  .others__title {
    display: block;
    width: 124px;
    margin: 0 auto;
    font-size: 21px;
    margin-bottom: 10px;
  }

  .others__number {
    margin-bottom: 21px;
  }

  .others__text {
    width: 160px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .others__item {
    width: 400px;
    padding-top: 46px;
    padding-bottom: 66px;

    &:nth-child(2) .others__text {
      width: 265px;
      margin: 0 auto;
    }
  }

  .others__title {
    margin-bottom: 10px;
  }

  .others__number {
    margin-bottom: 20px;
  }

  .others__text {
    width: 286px;
  }
}
