.photo-item {
  padding-top: 22px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  .border-top(@gray-border2);

  &:last-child {
    .border-bottom(@gray-border2);
  }
}

.photo-item__title {
  .reset();
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  padding-top: 8px;
}

.photo-item__author {
  .reset();
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  color: @light-black;
}

.photo-item__like {
  .reset();
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  padding-left: 37px;
  padding-top: 7px;
}

@media (min-width: @tablet-width) {
  .photo-item {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;

    &:last-child {
      border: none;
    }

    &:nth-child(n+3):nth-child(odd) .photo-item__block {
      background-color: #eaeaea;
    }
  }

  .photo-item__like {
    width: 52px;
    .reset();
    padding-left: 33px;
    padding-top: 20px;
  }

  .photo-item__like--icon {
    background-image: url("../../img/icon-like.svg");
    background-repeat: no-repeat;
    background-size: 23px 21px;
    background-position: left;
  }

  .photo-item__sunset {
    display: block;
    width: 648px;
    height: 400px;
    background-image: url("../../img/photo-sunset-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 648px 400px;
  }

  .photo-item__pic {
    display: none;
  }

  .photo-item__block {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding-top: 7px;
    padding-bottom: 17px;
    padding-left: 21px;
    background-color: #f2f2f2;
  }

  .photo-item__cactus {
    display: block;
    width: 324px;
    height: 267px;
    background-image: url("../../img/photo-cactus-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 324px 267px;
  }

  .photo-item__roads {
    display: block;
    width: 324px;
    height: 267px;
    background-image: url("../../img/photo-roads-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 324px 267px;
  }

  .photo-item__bridge {
    display: block;
    width: 324px;
    height: 267px;
    background-image: url("../../img/photo-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 324px 267px;
  }
}

@media (min-width: @desktop-width) {
  .photo-item {
    position: relative;

    &:nth-child(n+3):nth-child(odd) .photo-item__block {
      background-color: rgba(178, 178, 178, 0.3);
    }
  }

  .photo-item__sunset {
    width: 1200px;
    height: 400px;
    background-image: url("../../img/photo-sunset-desktop@1x.jpg");
    background-size: 1200px 400px;
  }

  .photo-item__block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: @white;
    padding-left: 0;
    background-color: rgba(178, 178, 178, 0.3);
  }

  .photo-item__wrapper {
    margin-left: 21px;
  }

  .photo-item__author {
    color: @white;
  }

  .photo-item__like {
    padding-top: 23px;
  }

  .photo-item__cactus {
    width: 400px;
    background-image: url("../../img/photo-cactus-desktop@1x.jpg");
    background-size: 400px 267px;
  }

  .photo-item__roads {
    width: 400px;
    background-image: url("../../img/photo-roads-desktop@1x.jpg");
    background-size: 400px 267px;
  }

  .photo-item__bridge {
    width: 400px;
    background-image: url("../../img/photo-bridge-desktop@1x.jpg");
    background-size: 400px 267px;
  }
}
