.photo-video {
  padding-top: 40px;
}

.photo-video__title {
  .reset();
  .middle-font();
}

.photo-video__text {
  .reset();
  .font();
  line-height: 24px;
  padding-bottom: 29px;
  padding-left: 8px;
  padding-right: 8px;
}

.photo-video__list {
  list-style: none;
  .reset();
}
