.second {
  background-color: @blue;
}

.second__block {
  padding-top: 41px;
  padding-bottom: 43px;
}

.second__title {
  .reset();
  .middle-font();
  color: @white;
  margin-bottom: 15px;
}

.second__number {
  display: block;
  .font();
  color: @white;
  margin-bottom: 19px;
}

.second__text {
  .font();
  .reset();
  color: @white;
}
