.send {
  width: 320px;
  padding-top: 50px;
  padding-bottom: 47px;
  padding-left: 20px;
  padding-right: 20px;
}

.send__btn {
  font-family: inherit;
  text-align: center;
  background-color: @blue;
}

.send__text {
  display: none;
}

@media (min-width: @tablet-width) {
  .send {
    position: absolute;
    top: 1220px;
    left: 60px;
    display: flex;
    padding-top: 58px;
    padding-bottom: 61px;
    padding-left: 0;
    padding-right: 0;
  }

  .send__btn {
    font-family: inherit;
    text-align: center;
    background-color: @blue;
  }

  .send__text {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .send {
    padding-bottom: 66px;
  }
}
