.success-popup {
  padding-top: 45px;
}

.success-popup__title {
  .reset();
  .middle-font();
}

.success-popup__text {
  .reset();
  .font();
  line-height: 24px;
  padding-left: 30px;
  padding-right: 30px;
}
