.video__wrapper {
  padding-top: 30px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
}

.video__title {
  .reset();
  .middle-font();
}

.video__text {
  .reset();
  .font();
  line-height: 24px;
}
