.welcome__pictures {
  min-height: 389px;
  background:
    url("../../img/text-sedona-index.svg") no-repeat 50% 50%,
    url("../../img/bg-intro-triangle-mobile.svg") no-repeat 50% 100%,
    url("../../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
  background-size: 282px 214px, 1200px 57px, 768px 389px;
  background-color: @blue;
}

.welcome__intro {
  padding-top: 42px;
  padding-bottom: 7px;
  background-image: url("../../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 766px 37px;
  background-color: @white;
}

.welcome__title {
  .middle-font();
  margin-bottom: 32px;
}

.welcome__text {
  .font();
  line-height: 26px;
}
