//---------------------------------------------------ЦВЕТА----------------------------------------
@black: #000000;
@light-black: #333333;
@white: #ffffff;
@dark-white: #fefefe;

//СИНИЕ ЦВЕТА
@blue: #81b3d2;
@blue-darker: #669ec0;
@blue-dark: #5496bd;

//крест-закрытие меню
@blue-x-down: #a7cae0;
@blue-x-hover: #cde1ed;

//нажатие синей кнопки, рамка элемента меню
@blue-button-down: #88b6d1;
@blue-border-dark: #678fa8;
@blue-border-light: #9ac2db;

//моб.меню бургер
@blue-burger-hover: #b3d1e4;
@blue-burger-down: #d9e8f1;

//СЕРЫЕ ЦВЕТА
@gray: #eeeeee;
@gray-border2: #e5e5e5;
@gray-border: #d6d6d6;
